appdirs
pytools
scipy
numpy
sympy
matplotlib
pybind11==2.9.2
mako
dill
h5py
scikit-learn
plotly
psutil
requests
## Thanks!
## https://stackoverflow.com/questions/58473837/plotly-missing-orca
kaleido
py-cpuinfo
einsteinpy
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
jupyterlab-fasta
jupyterlab-geojson
jupyterlab-katex
jupyterlab-mathjax2
jupyterlab-vega3
ipykernel
ipyparallel
ipympl
nbconvert
python-sat[pblib,aiger]
networkx[all]
multiprocess
mlx
